@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Norse;
  src: url("/fonts/Norsebold.otf") format("opentype");
}

@keyframes text-shimmer {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  
  .animate-text-shimmer {
      animation: text-shimmer 2.5s ease-out infinite alternate;
  }
  
/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
/* Note: This is experimental and may not work in all versions */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@layer components {
  audio {
      background-color: transparent;
  }

  audio::-webkit-media-controls-panel {
      background-color: transparent !important;
  }

  @screen md {
      audio {
          background-color: white;
      }

      audio::-webkit-media-controls-panel {
          background-color: white !important;
      }
  }
}
